<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
</head>
<body>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-7">@RenderBody()</div>
        <div class="col-md-3"></div>
    </div>
    <!--Script section-->
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-route.min.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/App/app.js")
    @Scripts.Render("~/App/factory/directory.js")
    @Scripts.Render("~/App/controllers/folderController.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>